   .CFUserTextEncoding
   .DS_Store
   .bito/
   .bytertc/
   .vscode/
   .zprofile
   .zsh_history
   .zsh_sessions/
   Applications/
   Desktop/
   Documents/
   Downloads/
   Library/
   Movies/
   Music/
   Pictures/
   Public/